@model KursMVC.ViewModels.HomeViewModel
@using KursMVC.Infrastructure

@{
    ViewBag.Title = "Praktyczne Kursy";
}
    <nav class="kategorieHorizontal">
        <ul>
            @foreach (var kategoria in Model.Kategorie)
            {
                <li>
                    <a href="@Url.Action("Lista", "Kursy", new { nazwaKategori = kategoria.NazwaKategori })" 
                       style="background-image: url(@Url.PathCategoryIcon(kategoria.NazwaPlikuIkony));">
                        @kategoria.NazwaKategori
                    </a>
                </li>
            }
        </ul>
        <a href="link">
            <img id="baner" src="../Content/Images/baner.png" />
        </a>
    </nav>
    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            @foreach (var bestsellery in Model.Bestsellery) { 
                <li>
                    <article>
                        <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka", "Koszyk", new { bestsellery.KursID })">
                            <img src="../Content/Images/koszyk.png" alt="Koszyk"/>
                        </a>
                        <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly", "Kursy", new { id = bestsellery.KursID })">
                            <div class="bestsellerFlag"></div>
                            <img class="kurs" src="@Url.PathImages(bestsellery.NazwaPlikuObrazka)" alt="@bestsellery.NazwaPlikuObrazka"/>
                            <h1>
                                @bestsellery.TytulKursu - @bestsellery.AutorKursu
                            </h1>
                        </a>
                    </article>
                </li>
            }
        </ul>
    </section>
    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            @foreach(var nowosc in Model.Nowosci)
            { 
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="@Url.Action("DodajDoKoszyka", "Koszyk", new { nowosc.KursID })">
                        <img src="../Content/Images/koszyk.png"/>
                    </a>
                    <a class="kursSzczegolyLink" href="@Url.Action("Szczegoly", "Kursy", new { id = nowosc.KursID })">
                        <div class="newFlag"></div>
                        <img class="kurs" src="@Url.PathImages(nowosc.NazwaPlikuObrazka)"/>
                        <h1>
                            @nowosc.TytulKursu - @nowosc.AutorKursu
                        </h1>
                    </a>
                </article>
            </li>
            }
        </ul>
    </section>
   
